body{
    margin: 0 auto;
}
img{
    display: block;
    width: 100%;
    
}

.recent-articles {
    max-width: 1200px;
    margin: auto;
    padding: 40px 20px;
    text-align: center;
}

.recent-articles h1 {
    font-size: 48px;
    margin-bottom: 50px;
    font-family: serif;
}

.articles-container {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.article-card {
    background: #fff;
    width: 33%;
    box-shadow: 0 0 20px rgba(0,0,0,0.08);
    border-radius: 5px;
    overflow: hidden;
}

.article-img {
    position: relative;
}

.article-img img {
    width: 100%;
    height: 260px;
    object-fit: cover;
}

.date-box {
    position: absolute;
    bottom: -20px;
    left: 20px;
    background: #000;
    color: #fff;
    padding: 10px 15px;
    text-align: center;
}

.day {
    display: block;
    font-size: 28px;
    font-weight: bold;
}

.month {
    font-size: 12px;
    letter-spacing: 1px;
}

.article-content {
    padding: 40px 25px 30px;
    text-align: left;
}

.category {
    color: #777;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
}

.article-content h2 {
    margin-top: 10px;
    font-size: 26px;
    line-height: 1.4;
    font-family: serif;
}

/* =================== xml with ajax  file name:ex1 ======================================--> */
.container {
            background: rgba(255,255,255,0.9);
            width: 80%;
            margin: 80px auto;
            padding: 40px;
            border-radius: 10px;
        }

 .top {
            display: flex;
            justify-content: space-between;
        }

        button {
            padding: 10px 20px;
            border-radius: 25px;
            border: 1px solid brown;
            background: transparent;
            cursor: pointer;
        }

        .benefits {
            display: flex;
            justify-content: space-between;
            margin-top: 40px;
        }

        .benefit {
            width: 22%;
        }